
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-content {
    height: 16rem;
    overflow-y: hidden;
}



/* Section */


html {
    scroll-behavior: smooth;
}

/* Typing */


.typing-effect {
    border-right: 2px solid; /* Garis vertikal untuk efek kursor */
    overflow: hidden; 
    white-space: nowrap;
    display: inline-block; /* Memastikan elemen tetap dalam satu baris */
}

@keyframes blink {
    50% { border-color: transparent; }
}

.blink-animation {
    animation: blink 0.75s step-end infinite alternate;
}
    