/* CSS untuk styling navbar */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #135D66;
    background-image: url('../image/background.svg');
    background-position: 100% 50%;
}

/* navbar */

.navbar{
  width: 1200px;
  height: 70px;
  margin: auto;
  
}

.icon{
  width: 200px;
  float: left;
  height: 80px;
}

.logo{
  color: white;
  font-size: 35px;
  padding-left: 20px;
  float: left;
  padding-top: 15px;
}


.logo a {
  text-decoration: none;
  color: white;
}




header .menu{
  width: 750px;
  float: left;
  height: 90px;
 

}
header {
  width: 100%;
  height: 95px;
  background: transparent;
  position: sticky;
  top: 0;
  background-color: #003C43; /* Warna navbar */
}


ul{
  float: right;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 100px;
}

ul li{
  list-style: none;
  margin-left: 55px;
  margin-top: 25px;
  font-size: 15px;
  text-decoration: none;
}
ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  
}

ul li a:hover{
  color: #ffc700;
  text-decoration: none;
}
a.tbl{
  background: #FFC700;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
     background-color: #FFC700;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;

}

/*Login username dan password  */


.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 14px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    
  }
  
  button {
    background-color: #FFC700;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    border-radius: 12px;
  
 
  }
  
  button:hover {
    background-color: #acc;
  
  }

  .satu{
    color: white;
    align-items: center;
    text-align: center;
  }

 p{
  font-size: 13px;
  text-align: center;
 }

/* warna hitam di bawah */

 footer {
  background-color: #333333;  /* Navbar background color */
  color: white; /* Text color */
  width: 100%; /* Make navbar full width */
  height: 285px; /* Set navbar height (optional) */
  text-align: left;
  padding: 10px;
}

.footer-address {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 50px;
}

.address {
  text-align: left;
  margin-left: 50px;
}


.logo{
font-size: 30px;

} 

.footer-address2 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 50px;
  text-align: center;
  justify-content: center;
}



