@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/home.jpg');
	background-size: cover;
	background-attachment: fixed;
}
h1{
    font-family: 'Poppins';
    color: white;
    padding-top: 15px;
    margin-left: 25px;
    font-size: large;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
    font-family: 'Poppins';
    margin-left: 40%;

}

nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	padding: 1rem;
}

nav ul li {
	margin: 0 2rem;
}

nav ul li a {
	color: white;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    font-size: 17px;
}

nav ul li a:hover{
    color: #ffc700;
    text-decoration: none;
}
a.btn{
    background:  #ffc700;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    color: #003c34;
}   

a.btn:hover{
    background: #003c34;
    color: #ffc700;
}

.content{
    margin-top: 10%;
    margin-left: 10%;
    color: white;
    font-family: 'Poppins';
}

.content h2{
    font-size: 80px;
    font-weight: bold;
}

.content .btn{
    width: 200px;
    height: 40px;
    background: #ffc700;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s ease;
}

.content .btn a{
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}

.btn:hover{
    background: #003c43;
}